* {
    list-style: none;
  }

  #Userid{
    display: flex;
    justify-content: center;

  }
  
  .active {
    
    border-radius: 15px;
    display: flex;
    justify-content: center;
    transform: translateX(10%);
    transition: transform 1s ease;
    
  }
  
  .inactive {
    border: none;
  }
  